<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForwardAirApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FastQuoteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FastQuoteServiceSoapBinding1" />
                <binding name="FastQuoteServiceSoapBinding2">
                    <security mode="Transport" />				
                </binding>
                <binding name="FastQuoteServiceSoapBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.forwardair.com/ltlservices/v2/FastQuoteService"
                binding="basicHttpBinding" bindingConfiguration="FastQuoteServiceSoapBinding"
                contract="FastQuoteService.FastQuoteService" name="FastQuoteServicePort" />
            <endpoint address="https://api.forwardair.com/ltlservices/v2/FastQuoteService"
                binding="basicHttpBinding" bindingConfiguration="FastQuoteServiceSoapBinding2"
                contract="ServiceReference1.FastQuoteService" name="FastQuoteServicePort1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ForwardAirApp.Properties.Settings>
            <setting name="ForwardAirApp_com_forwardair_api_FastQuoteService"
                serializeAs="String">
                <value>https://test-api.forwardair.com/ltlservices/v2/FastQuoteService</value>
            </setting>
        </ForwardAirApp.Properties.Settings>
    </applicationSettings>
</configuration>